// lancer la commade
// sass .\sass\card.scss .\styles\card.css --watch 
//  pour compiler sass en css

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

// Primary
// Dark cyan: hsl(185, 75%, 39%) Very dark desaturated blue: hsl(229, 23%, 23%) Dark grayish blue: hsl(227, 10%, 46%)
$primary-cyan: hsl(185, 75%, 39%);
$primary-dark-blue: hsl(229, 23%, 23%);
$primary-gray-blue: hsl(227, 10%, 46%);
// Neutral
// Dark gray: hsl(0, 0%, 59%)
$neutral-gray: hsl(0, 0%, 59%);
// Typography Font size (name and stats):
$font-size: 18px;
$fontweight-normal: 400;
$fontweight-bold : 700;

body {
    font-family: 'Kumbh Sans', sans-serif;   
    background:
    url("./../images/bg-pattern-top.svg") no-repeat -15vw -65vh,
    $primary-cyan url("./../images/bg-pattern-bottom.svg") no-repeat 50vw 50vh;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;  
    font-weight: $fontweight-normal;  
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* centrer dans le sens de la largeur */
    align-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 350px;
    height: 370px;
    background: white;
    border-radius: 20px;

    &__header {
        background: url("./../images/bg-pattern-card.svg");
        background-size: cover;
        display: flex;
        flex-direction: row;
        justify-items: center;
        flex:3;
        border-radius: 20px 20px 0 0;
        

        // .head-victor {

        //     img {
        //         position: relative;
        //         top: 85px;
        //         margin-left: 120px;
        //         width: 110px;
        //         height: 110px;
        //         border-radius: 55px;
        //         border: white solid 5px;
        //         background-color: white;
        //     }
            
        // }
    }

    &__content {
        flex:3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .head-victor {

            img {
                // position: relative;
                margin-top: -90px;
                width: 110px;
                height: 110px;
                border-radius: 55px;
                border: white solid 5px;
                background-color: white;
            }
            
        }
        
        .txt {
            margin-top: 10px;
            .name_stat {
                color: $primary-dark-blue;
                font-weight: $fontweight-bold;
            }

            .city {
                color: $primary-gray-blue;
            }
        }

    }

    &__footer {
        flex:2;
        border-top: rgba($neutral-gray, .4) 1px solid;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        

        & > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .name_stat {
                color: $primary-dark-blue;
                font-weight: $fontweight-bold;
                margin-bottom: 10px;
            }

            .gray-text {
                color: $primary-gray-blue;
                font-size: .6em;
                letter-spacing: .1em;
            }
        }
    }

    
}

